/*!
 * Bootstrap v4.0.0-alpha.4 (http://getbootstrap.com)
 * Copyright 2011-2016 The Bootstrap Authors
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* base styles */
/* variables styles */
/* color */
/* TRANSITIONS */
/* SPACES */
/* RADIUS */
/* OPACITY */
/* shadow */
/* base styles */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3e3935;
  letter-spacing: 0.04rem;
  display: block; }

main img {
  width: 90%;
  max-width: 100%;
  height: auto; }

.h-100 {
  min-height: 100vh; }

a {
  color: #5e2f4a;
  transition: all 0.2s ease-out; }
  a:hover, a:active, a:focus {
    color: rgba(94, 47, 74, 0.8);
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  display: block;
  line-height: 1.5rem;
  display: block; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 900;
  color: #5e2f4a; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 900;
  color: black; }

h1 {
  font-size: 22px; }
  h1.title-big {
    font-size: 32px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.15rem; }

.c-green {
  color: #56932e; }

.c-red {
  color: red; }

.blockquote p {
  font-weight: 300; }
.blockquote .blockquote-footer {
  font-weight: 900;
  color: #5e2f4a; }

.col-line {
  border-top: rgba(0, 0, 0, 0.1) solid 1px; }

ul.menu-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.menu-list li {
    margin: 7.5px 0; }
ul.list-line {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.list-line li {
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    padding: 7.5px 0; }
    ul.list-line li p, ul.list-line li h4 {
      margin: 0; }
    ul.list-line li:last-child {
      border-bottom: 0; }
ul.price-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.price-list li {
    padding: 7.5px 0; }

/* components styles */
.btn {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-radius: 4px;
  padding: 15px;
  transition: all 0.2s ease-out;
  display: block;
  font-weight: 900;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: 0px 6px 21px -8px rgba(0, 0, 0, 0.57);
  transition: all 0.2s ease-out; }
  .btn:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    top: 60%;
    right: 0;
    opacity: .5;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
    /* IE6-9 */ }
  .btn.btn-primary {
    background: #5e2f4a;
    border-color: #5e2f4a;
    color: white; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #3e3935;
      border-color: #3e3935; }
    .btn.btn-primary.alt {
      border-color: #5e2f4a;
      background: none;
      color: #5e2f4a; }
      .btn.btn-primary.alt:after {
        opacity: .2; }
  .btn.btn-secondary {
    background: #00a1df;
    border-color: #00a1df;
    color: white; }
    .btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
      background: #3e3935;
      border-color: #3e3935; }
  .btn.btn-alternative {
    background: #f6cd1f;
    border-color: #f6cd1f;
    color: white; }
    .btn.btn-alternative:hover, .btn.btn-alternative:active, .btn.btn-alternative:focus {
      background: #3e3935;
      border-color: #3e3935; }
  .btn.btn-green {
    background: #56932e;
    border-color: #128C7E;
    color: white; }
    .btn.btn-green:hover, .btn.btn-green:active, .btn.btn-green:focus {
      background: #3e3935;
      border-color: #3e3935; }
  .btn.btn-text {
    background: #3e3935;
    border-color: #3e3935;
    color: white; }
    .btn.btn-text:hover, .btn.btn-text:active, .btn.btn-text:focus {
      background: #3e3935;
      border-color: #3e3935; }
  .btn.btn-back {
    text-align: left;
    padding: 0 3px 15px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    border: 0;
    font-size: 11px;
    box-shadow: none; }
    .btn.btn-back i, .btn.btn-back svg, .btn.btn-back img {
      font-size: 14px; }
    .btn.btn-back:hover, .btn.btn-back:active, .btn.btn-back:focus {
      color: #5e2f4a; }
    .btn.btn-back:after {
      display: none; }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: 0px 11px 50px -19px rgba(0, 0, 0, 0.75); }

.btn-circle, header#main-header nav .special-nav ul li a, section#section-box-header h1 i {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: white;
  background: #5e2f4a;
  border-radius: 300px;
  font-size: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.22);
  -moz-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.22);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.22); }
  .btn-circle:hover, header#main-header nav .special-nav ul li a:hover, section#section-box-header h1 i:hover, .btn-circle:active, header#main-header nav .special-nav ul li a:active, section#section-box-header h1 i:active, .btn-circle:focus, header#main-header nav .special-nav ul li a:focus, section#section-box-header h1 i:focus {
    background: #5e2f4a; }

.form-control {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 900;
  padding: 15px 7.5px; }

.invalid-feedback {
  color: #00a1df;
  font-weight: 900; }

.form-check {
  margin-bottom: 3px; }

/* layouts styles */
/* grid styles */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%; } }

header#main-header nav {
  background: rgba(0, 0, 0, 0.05); }
  header#main-header nav .navbar-brand {
    padding: 7.5px 0;
    margin: 0; }
  header#main-header nav .special-nav {
    padding: 30px 0 15px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
    /* IE6-9 */ }
    header#main-header nav .special-nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header#main-header nav .special-nav ul li {
        text-align: center; }
        header#main-header nav .special-nav ul li a.special-nav-mail {
          background: #f6cd1f; }
        header#main-header nav .special-nav ul li a.special-nav-phone {
          background: #00a1df; }
        header#main-header nav .special-nav ul li a.special-nav-what {
          background: #128C7E; }

footer#main-footer {
  background: #5e2f4a;
  background-attachment: fixed;
  padding-bottom: 80px;
  color: rgba(255, 255, 255, 0.5); }
  footer#main-footer a {
    color: white; }
    footer#main-footer a:hover, footer#main-footer a:active, footer#main-footer a:focus {
      color: #3e3935; }
  footer#main-footer .container {
    border-top: solid rgba(255, 255, 255, 0.1) 1px; }
    footer#main-footer .container .col {
      padding-top: 30px;
      padding-bottom: 15px; }
      footer#main-footer .container .col .logo-footer {
        margin: 0 auto 15px; }
      footer#main-footer .container .col p {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.15rem; }

section.section-box {
  padding: 30px 0 15px; }
  section.section-box .section-intro img {
    max-width: 30%;
    height: auto; }
section#section-box-header {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px 0; }
  section#section-box-header h1 i {
    display: block;
    text-align: center;
    background: #fff;
    color: #5e2f4a;
    position: absolute;
    right: 0;
    bottom: -55px; }

/*# sourceMappingURL=main.css.map */
