.btn{
    font-family: $font-general;
    font-size: $size-btn;
    text-transform: uppercase;
    letter-spacing: $letter-spa-small;
    border-radius: $b-radius-min;
    padding: $space-normal;
    transition: $transition-xs;
    display: block;
    font-weight: $font-w-bold;
    position: relative;
    text-shadow: $color-black-2 1px 1px 1px;
    box-shadow: $shadow-btn;
    transition: $transition-xs;
    &:after{
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        left: 0;
        top: 60%;
        right: 0;
        opacity: .5;
        z-index: 1;
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

    }
    &.btn-primary{
        background: $color-primary;
        border-color: $color-primary;
        color: $color-white;
        &:hover, &:active, &:focus{
            background: $color-text;
            border-color: $color-text;
        }
        &.alt{
            border-color: $color-primary;
            background: none;
            color: $color-primary;
            &:after{
                opacity: .2;
            }
        }
    }
    &.btn-secondary{
        background: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;
        &:hover, &:active, &:focus{
            background: $color-text;
            border-color: $color-text;
        }
    }
    &.btn-alternative{
        background: $color-alternative;
        border-color: $color-alternative;
        color: $color-white;
        &:hover, &:active, &:focus{
            background: $color-text;
            border-color: $color-text;
        }
    }
    &.btn-green{
        background: $color-green;
        border-color: $color-what;
        color: $color-white;
        &:hover, &:active, &:focus{
            background: $color-text;
            border-color: $color-text;
        }
    }
    &.btn-text{
        background: $color-text;
        border-color: $color-text;
        color: $color-white;
        &:hover, &:active, &:focus{
            background: $color-text;
            border-color: $color-text;
        }
    }
    &.btn-back{
        text-align: left;
        padding: 0 $space-x-small $space-normal;
        color: $color-black-5;
        border-radius: 0;
        border: 0;
        font-size: $size-x-small;
        box-shadow: none;
        i, svg, img{
            font-size: $size-h5;
        }
        &:hover, &:active, &:focus{
            color: $color-primary;
        }
        &:after{
            display: none;
        }
    }
    &:hover, &:active, &:focus{
        box-shadow: $shadow-big;
    }
}

.btn-circle{
    display: block;
    width: $space-extra;
    height: $space-extra;
    line-height: $space-extra;
    color: $color-white;
    background: $color-primary;
    border-radius: $b-radius-max;
    font-size: $size-h2;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.22);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.22);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.22);
    &:hover, &:active, &:focus{
        background: $color-primary;
    }
}