.form-control{
    background: $color-black-5;
    color: $color-white;
    border-color: $color-black-1;
    border-radius: $b-radius-min;
    font-family: $font-general;
    font-size: $base-font-size;
    font-weight: $font-w-bold;
    padding: $space-normal $space-small;
}
.invalid-feedback{
    color: $color-secondary;
    font-weight: $font-w-bold;
}

.form-check{
    margin-bottom: $space-x-small;
}