/* base styles */
body{
    font-family: $font-general;
    font-size: $base-font-size;
    color: $color-text;
    letter-spacing: $letter-spa-body;
    display: block;
}

main{
    img{
        width: 90%;
        max-width: 100%;
        height: auto;
    }
}

.h-100{
    min-height: 100vh;
}

a{
    color: $color-primary;
    transition: $transition-xs;
    &:hover, &:active, &:focus{
        color: $color-primary-2;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-general;
    font-weight:  $font-w-regular;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
    font-family: $font-general;
    font-size: $size-x-small;
    letter-spacing: $letter-spa-small;
    text-transform: uppercase;
    display: block;
    line-height: $l-h-big;
    display: block;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{
    font-weight: $font-w-bold;
    color: $color-primary;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    font-weight: $font-w-bold;
    color: $color-black;
}

h1{
    font-size: $size-h1;
    &.title-big{
        font-size: $size-h1-big;
    }
}
h2{
    font-size: $size-h2;
}
h3{
    font-size: $size-h3;
}
h4{
    font-size: $size-h4;
}
h5{
    font-size: $size-h5;
}
h6{
    font-size: $size-h6;
    text-transform: uppercase;
    letter-spacing: $letter-spa-small;
}

.c-green{
    color: $color-green;
}
.c-red{
    color: $color-red;
}

.blockquote{
    p{
        font-weight: $font-w-light;
    }
    .blockquote-footer{
        font-weight: $font-w-bold;
        color: $color-primary;
    }
}
.col-line{
    border-top: $color-black-1 solid 1px;
}

ul{
    &.menu-list{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin: $space-small 0;
        }
    }
    &.list-line{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            border-bottom: $color-black-1 solid 1px;
            padding: $space-small 0;
            p, h4{
                margin: 0;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
    &.price-list{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: $space-small 0;
        }
    }
}
