/* variables styles */

/* color */
$color-primary:      rgba(94, 47, 74, 1);
$color-primary-2:    rgba(94, 47, 74, .8);
$color-secondary:    rgba(0, 161, 223, 1);
$color-alternative:  #f6cd1f;
$color-text:         rgba(62, 57, 53, 1);
$color-what:         #128C7E;
$color-green:        #56932e;
$color-red:          red;

$color-black:     rgba(0, 0, 0, 1);
$color-black-9:   rgba(0, 0, 0, .95);
$color-black-8:   rgba(0, 0, 0, .8);
$color-black-5:   rgba(0, 0, 0, .5);
$color-black-2:   rgba(0, 0, 0, .2);
$color-black-1:   rgba(0, 0, 0, .1);
$color-black-f:   rgba(0, 0, 0, .05);
$color-black-0:   rgba(0, 0, 0, 0);

$color-white:     rgba(255, 255, 255, 1);
$color-white-8:   rgba(255, 255, 255, .8);
$color-white-5:   rgba(255, 255, 255, .5);
$color-white-2:   rgba(255, 255, 255, .2);
$color-white-1:   rgba(255, 255, 255, .1);
$color-white-0:   rgba(255, 255, 255, 0);

// font path
$font-path:             "../fonts/";
// images path
$image-path:            "../images/";

// Fonts
$font-general:       'Lato', sans-serif;
$font-corp:          'Lato', sans-serif;
$font-w-light:        300;
$font-w-regular:      400;
$font-w-bold:         900;


// Type
$letter-spa-body:          0.04rem;
$letter-spa-x-small:          0.08rem;
$letter-spa-small:          0.15rem;
$letter-spa-small-minus:   -0.15rem;
$l-h-small:                .75rem; 
$l-h-normal:               1rem;
$l-h-big:                  1.5rem; 

// SIZES
$size-logo:             auto;  

$size-h1-big:           32px;
$size-h1:               22px;
$size-h2:               20px;
$size-h3:               18px;
$size-h4:               16px;
$size-h5:               14px;
$size-h6:               13px;
$size-btn:              13px;
$size-btn-ico:          20px;
$size-x-small:          11px;

/* TRANSITIONS */
$transition-xs:   all .2s ease-out;
$transition-md:   all .5s ease-out;
$transition-lg:   all .9s ease-out;

/* SPACES */

$space-x-small:       3px;
$space-small:         7.5px;
$space-normal:        15px;
$space-big:           30px;
$space-extra:         60px;
$space-x-small-n:      -3px;
$space-small-n:        -7.5px;
$space-normal-n:      -15px;
$space-big-n:         -30px;
$space-extra-n:       -60px;
$space-footer:         80px;


/* RADIUS */
$b-radius-no:         0px;
$b-radius-min:        4px;
$b-radius-max:        300px;

/* OPACITY */
$opo-min:           0.4;
$opo-img:           0.2;

/* shadow */
$shadow-normal:   0px 1px 17px 0px rgba(0,0,0,0.17);
$shadow-big:      0px 11px 50px -19px rgba(0,0,0,0.75);
$shadow-btn:      0px 6px 21px -8px rgba(0,0,0,0.57);
