footer{
    &#main-footer{
        background: $color-primary;
        background-attachment: fixed;
        padding-bottom: $space-footer;
        color: $color-white-5;
        a{
            color: $color-white;
            &:hover, &:active, &:focus{
                color: $color-text;    
            }
        }
        .container{
            border-top: solid $color-white-1 1px;
            .col{
                padding-top: $space-big;
                padding-bottom: $space-normal;
                .logo-footer{
                    margin: 0 auto $space-normal;
                }
                p{
                    font-size: $size-x-small;
                    text-transform: uppercase;
                    letter-spacing: $letter-spa-small;
                }
            }
        }
    }
}