header{
    &#main-header{
        nav{
            background: $color-black-f;
            .navbar-brand{
                padding: $space-small 0;
                margin: 0;
            } 
            .special-nav{
                padding: $space-big 0 $space-normal;
                margin: 0;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 5;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        text-align: center;
                        a{
                            @extend .btn-circle;
                            &.special-nav-mail{
                                background: $color-alternative;
                            }
                            &.special-nav-phone{
                                background: $color-secondary;
                            }
                            &.special-nav-what{
                                background: $color-what;
                            }
                        }
                    }
                }
            }    
        }  
    }
}