section{
    &.section-box{
        padding: $space-big 0 $space-normal;
        .section-intro{
            img{
                max-width: 30%;
                height: auto;
            }
        }
    }
    &#section-box-header{
        background: $color-black-f; 
        padding: $space-normal 0;  
        h1{
            i{
                display: block;
                @extend .btn-circle;
                text-align: center;
                background: #fff;
                color: $color-primary;
                position: absolute;
                right: 0;
                bottom: -55px;
            }
        }  
    }
}